<!--The content below is only a placeholder and can be replaced.-->
<header>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="200" alt="orange bees" src="../assets/orangebees.png">
</header>

<h2>Example</h2>
<div class="example">
  <p><b>Form Component</b></p>
  <app-form></app-form>
</div>

<hr>

<h2>References and Additonal Info</h2>
<div class="markdown">
  <markdown ngPreserveWhitespaces>
    ### Files

    - `src/app/app.component.ts`
    - `src/app/components/form/form.component.ts`
    - `src/app/services/custom-validator.service.ts`

    ### Links

    - [Reactive Forms](https://angular.io/guide/reactive-forms)
    - [Basic Validaots](https://angular.io/guide/reactive-forms#step-1-importing-a-validator-function)
    - [Custom Validators](https://angular.io/guide/form-validation#custom-validators)

    ### Tutorial Length

    15 minutes

    ### Tutorial Walkthrough

    https://itnext.io/angular-custom-form-validation-bc513b45ccfa

    ### Level of Difficulty (1-5)

    3

    ### Last Modified

    26 October 2020

    ### Author

    Jamie Gross ([LinkedIn](https://www.linkedin.com/in/james-l-gross/)) - [Orange Bees](https://orangebees.com)
  </markdown>
</div>