<!--The content below is only a placeholder and can be replaced.-->
<header>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="200" alt="grasp mobile development" src="../assets/grasp.jpg">
</header>

<h2>Example</h2>
<div class="example">
  <p><b>App Component</b></p>
  <div class="form-field">
    <label for="changeApples">Number of apples:</label>
    <input id="changeApples" type="text" placeholder="0" [(ngModel)]="numberOfApples">
  </div>
  <button (click)="changeApples()">Change Apples</button>
  <div class="form-field">
    <label for="changeLimes">Number of limes:</label>
    <input id="changeLimes" type="text" placeholder="0" [(ngModel)]="numberOfLimes">
  </div>
  <button (click)="changeLimes()">Change Limes</button>
  
  <p><b>Apple Component</b></p>
  <app-apple></app-apple>
  <p><b>Lime Component</b></p>
  <app-lime></app-lime>
</div>

<hr>

<h2>References and Additonal Info</h2>
<div class="markdown">
  <markdown ngPreserveWhitespaces>
    ### Files

    - `src/app/app.component.ts`
    - `src/app/components/fruit/apple.component.ts`
    - `src/app/components/fruit/lime.component.ts`
    - `src/app/services/grocery-store.service.ts`

    ### Links

    - [rxjs](https://github.com/ReactiveX/rxjs)
    - [Observabe](https://rxjs-dev.firebaseapp.com/api/index/class/Observable)
    - [BehaviorSubject](https://rxjs-dev.firebaseapp.com/api/index/class/BehaviorSubject)

    ### Tutorial Length

    10 minutes

    ### Level of Difficulty (1-5)

    2

    ### Last Modified

    10 October 2018

    ### Author

    Jamie Gross ([LinkedIn](https://www.linkedin.com/in/james-l-gross/)) - [Grasp Mobile Development](https://graspmobiledevelop.com/)
  </markdown>
</div>
